PP_NAME = "RAG Pipeline Roadmap"
APP_VERSION = "0.1.0"

# Database configuration
SUPABASE_URL = ""
SUPABASE_KEY = ""

#OPENAI Generation Client
GENERATION_CLIENT = "OPENAI"
EMBEDDING_CLIENT = "OPENAI"

# Ollama API configuration
OLLAMA_GENERATION_MODEL_NAME = "qwen3.5:latest"
OLLAMA_EMBEDDING_MODEL_NAME = "qwen3-embedding:latest"
OLLAMA_EMBEDDING_MODEL_SIZE = 384
OPENAI_API_KEY = "sk-..."
OPENAI_API_URL = ""
INPUT_DAFAULT_MAX_CHARACTERS=30000
GENERATION_DAFAULT_MAX_TOKENS=2000
GENERATION_DAFAULT_TEMPERATURE=0.1

#Gemini Generation Client
GEMINI_GENERATION_CLIENT = "GEMINI"
GEMINI_GENERATION_MODEL_NAME = "gemini-2.5-flash"
GEMINI_EMBEDDING_MODEL_NAME = "gemini-2.0-flash-embedding-latest"
GEMINI_EMBEDDING_MODEL_SIZE = 1024
GEMINI_API_KEY="your_gemini_api_key"

# Vector Database Configuration
VECTOR_DB_CLIENT ="QDRANT"
VECTOR_DB_PATH ="qdrant_db"
VECTOR_DB_DISTANCE_METHOD ="cosine"

QDRANT_URL = "your_qdrant_url"
QDRANT_API_KEY = "your_qdrant_api_key"

# ========================= Template Configs =========================
PRIMARY_LANG = "en"
DEFAULT_LANG = "en"

# Embedding Configurations
EMBEDDING_HELPER_NAME = "all-MiniLM-L6-v2"