fastapi
uvicorn
pydantic-settings
python-dotenv
supabase
qdrant-client
langchain
langchain-community
langchain-openai
openai
google-generativeai
opencv-python-headless
pytesseract
pandas
docx2txt
pypdf
sentence-transformers
torch
numpy
cerebras
groq