supabase
fastapi
uvicorn
pydantic-settings
python-dotenv
langchain
langchain-community
langchain-openai
qdrant-client
openai
opencv-python
pytesseract
pandas
docx2txt
pypdf
sentence-transformers
google-generativeai
torch==2.12.0

